<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
	<style >
		h1{
		margin:center;
		}
		.personadd{
		width:85%;
		margin:center;
		}
		.personbtn{
			width:100px;
			margin-left:30px;
		}
	</style>
</head>
<body>
<div th:replace="Navbar::navbar">
</div>
	<h1>PERSON ALREADY EXİST </h1>
	<div class="d-flex flex-column justify-content-center">
			
			<table class="table table-striped table-bordered" data-toggle="table"
  			data-search="true"
  			data-search-align="left"
  			data-url="json/data1.json">
  			<thead class="table-dark">
    			<tr>
    				
      				<th scope="col">TC </th>
      				<th scope="col">First Name </th>
      				<th scope="col">Last Name </th>
      				<th scope="col">Email </th>
      				<th scope="col">Birth Date</th>
      				<th scope="col">Actions </th>
    			</tr>
 			</thead>
 			<tbody>
 			
 				<tr th:each ="person: ${persons}">
 					<!-- <td th:text="${consumer.id}"></td> -->
 					<td th:text="${person.tc}"></td>
 					<td th:text="${person.first_name}"></td>
 					<td th:text="${person.last_name}"></td>
 					<td th:text="${person.email}"></td>
 					<td th:text="${person.birth_date}"></td>
 					<td class="d-flex flex-row justify-content-center"><a class="btn  personbtn btn-primary btn-m mb-1" th:href="@{/person/InsurancePage/{id}(id = ${person.id})}">Insurances</a> 
 						<a class="btn personbtn btn-warning btn-m mb-1" th:href="@{/person/personEdit/{id}(id = ${person.id})}">Edit</a> 
 						<form method="POST" th:action="@{/person/person_delete/{id}(id = ${person.id})}">
    						<button type="submit" name="submit" value="value" class="personbtn btn btn-danger btn-m mb-1">Delete</button>
						</form>
 						
 					</td>
 					
 				</tr>
 					
 			</tbody>
		</table>
	
	
	</div>
</body>
</html>